.login {
  margin-top: 20vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 4vw;
}
.login2 {
  margin-top: 20vw;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 4vw;
}
.gogo2 {
  color: black;
  margin-left: 6vw;
  font-size: 4.5vw;
  position: relative;
  top: 12vw;
}
.gogo {
  color: black;
}
.mint-tab-item {
  display: block;
  padding: 3vw 0 ;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
  height: 12vw !important;
}

.msg {
  color: black;
  font-size: 4vw;
  margin-left: 10vw;
  margin-bottom: 2vw;
}
.msg2 {
  margin-left: 10vw;
  color: black;
  font-size: 4vw;
}
.people {
  color: black;
}
.huan {
  margin-left: 8vw;
  margin-top: -8vw;
  margin-bottom: 10vw;
}
.yidong {
  position: relative;
  top: -17vw;
  margin-bottom: 6vw;
  background-color: #ffe120;
  height: 35vw;
}
.touxiang {
  width: 20vw;
  height: 20vw;
  position: relative;
  top: 6vw;
  left: -15vw;
  border-radius: 50%;
}
.touxiang2 {
  width: 20vw;
  height: 20vw;
  position: relative;
  top: 6vw;
  left: -15vw;
}
.yidongg {
  position: relative;
  top: -19vw;
}
.msg3 {
  margin-left: 6vw;
  margin-top: -5vw;
  margin-bottom: 5vw;
}
.his {
  width: 10vw;
  height: 10vw;
  display: block;
  margin-left: 12px;
}
.hiss {
  width: 8.5vw;
  height: 8.5vw;
  display: block;
  margin-top: 0.2vw;
}
.through {
  font-size: 4.5vw;
  display: flex;
  margin: 2vw;
}
.king {
  width: 7vw;
  height: 7vw;
  margin-top: -2.6vw;
  margin-left: 1vw;
}
.money {
  color: rgb(255, 100, 29);
  font-size: 4.5vw;
  margin-top: -5.5vw;
  margin-left: -2vw;
}
.boot {
  margin-left: -1vw;
  margin-top: 6.5vw;
}
.card {
  color: rgb(151, 151, 151);
  font-size: 4.3vw;
  margin-top: -3.1vh;
}
.card2 {
  color: rgb(151, 151, 151);
  font-size: 4.3vw;
  margin-top: -3.1vh;
}
.card3 {
  color: rgb(151, 151, 151);
  font-size: 4.3vw;
  margin-top: -3.1vh;
}
.one {
  width: 40vw;
  font-size: 5vw;
  margin-top: -1vw;
  margin-bottom: 1vw;
  margin-left: 2vw;
}
.two {
  width: 70vw;
  text-align: right;
  font-size: 5vw;
  margin-left: 28vw;
}

.three {
  width: 40vw;
  font-size: 5vw;
  margin-top: 4vh;
}
.four {
  width: 66vw;
  text-align: right;
  margin-left: 32vw;
  margin-top: -1vw;
}
.five {
  width: 25vw;
}
.sixsix {
  margin-top: 6vw;
  margin-bottom: -3vw;
}
.six {
  width: 25vw;
}
.seven {
  width: 25vw;
}
.eight {
  width: 25vw;
}
.ten {
  display: flex;
  justify-content: center;
}
.oneo {
  margin-top: 2.2vw;
  margin-left: 2.2vw;
}
.twoo {
  margin-top: 1vw;
  margin-left: 4.2vw;
}
.threee {
  margin-top: 1vw;
  margin-left: 4.5vw;
}
.fourr {
  margin-top: 1vw;
  margin-left: 4vw;
}
.mecard {
  margin: 2vw;
}
