.my {
  text-align: center;
  margin-top: 2vw;
  color: black;
  font-weight: bold;
  font-size: 6vw;
}
.van-cell {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  padding: 2vw 12vw;
  overflow: hidden;
  color: #323233;
  font-size: 5vw;
  line-height: 5vw;
  background-color: #fff;
  margin-top: 5vw;
}
.van-button--block {
    display: block;
    width: 80vw;
    height: 10vw;
    margin-left: 8vw;
    margin-top: 10vw;
}
.van-button--normal {
    padding: 0 15px;
    font-size: 4.5vw;
    text-align: center;
}
.ava{
  margin-left: 5vw;
}
.map{
  margin-top: 10vw;
}